<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/standard-fragment.html :: page-head-fragment">
    <title th:text="${page_title}">Title</title>
</head>
<body>

<div id="page-top">
    <div id="page-top-title-wrapper">
        <div id="page-top-signed-in-as">
            <div class="dropdown">
                <button class="dropbtn" th:text="(${current_user == null} ? 'Welcome visitor!' : ${current_user.username})">
                    Dropdown
                </button>
                <div class="dropdown-content">
                    <a th:if="${current_user == null}" th:href="@{/login}">Login</a>
                    <a th:if="${current_user == null}" th:href="@{/register}">Register</a>
                    <a th:if="${current_user != null}" th:href="@{/myaccount}">Account
                        settings</a>
                    <a th:if="${current_user != null}" th:href="@{/myponds}">My ponds</a>
                    <a th:if="${current_user != null}" th:href="@{/logout}">Log out</a>
                </div>
            </div>
        </div>
        <div id="page-top-title" th:text="${page_title}">
            page title
        </div>
    </div>
    <div class="page-breaker-span"></div>
    <nav id="page-nav" th:replace="fragments/outer-pages-fragment.html :: page-nav-fragment"></nav>
</div>
<div class="page-breaker-span" style="width: 90%;"></div>

<div id="page-body">

    <div th:if="${news_list != null}" class="my-centered-container">
        <div class="my-container" th:each="news : ${news_list}" th:if="${news.isHidden == 0}">
            <div class="my-container-update" th:text="${news.updateText}">
            </div>
            <a class="my-container-update-read-more" th:href="@{'/news/' + ${news.id}}" >Continue reading...</a>
            <div class="page-breaker-span"></div>
            <div class="my-container-update-date" th:text="${news.date}">
                test date
            </div>
        </div>
    </div>

</div>

<div class="page-breaker-span" style="width: 90%;"></div>
<footer id="page-footer" th:replace="fragments/standard-fragment.html :: page-footer-fragment"></footer>

</body>
</html>