<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/standard-fragment.html :: page-head-fragment">
    <title th:text="${page_title}">Title</title>
</head>
<body>

<div id="page-top">
    <div id="page-top-title-wrapper">
        <div id="page-top-signed-in-as">
            <div class="dropdown">
                <button class="dropbtn"
                        th:text="(${current_user == null} ? 'Welcome visitor!' : ${current_user.username})">
                    Dropdown
                </button>
                <div class="dropdown-content">
                    <a th:if="${current_user == null}" th:href="@{/login}">Login</a>
                    <a th:if="${current_user == null}" th:href="@{/register}">Register</a>
                    <a th:if="${current_user != null}" th:href="@{/myaccount}">Account
                        settings</a>
                    <a th:if="${current_user != null}" th:href="@{/myponds}">My ponds</a>
                    <a th:if="${current_user != null}" th:href="@{/logout}">Log out</a>
                </div>
            </div>
        </div>
        <div id="page-top-title" th:text="${page_title}">
            page title
        </div>
    </div>
    <div class="page-breaker-span"></div>
    <nav id="page-nav" th:replace="fragments/outer-pages-fragment.html :: page-nav-fragment"></nav>
</div>
<div class="page-breaker-span" style="width: 90%;"></div>

<div id="page-body">

    <p>
    <p>new title</p>
    <p th:text="${news_post.updateText}"></p>
    </p>
    <p>
    <p>date</p>
    <p th:text="${news_post.date}"></p>
    </p>

    <br/>
    <br/>

    <a th:if="${!is_first_news}" th:href="@{'/news/' + ${news_post.id - 1}}">Previous</a>
    <a th:if="${!is_last_news}" th:href="@{'/news/' + ${news_post.id + 1}}">Next</a>

</div>

<div class="page-breaker-span" style="width: 90%;"></div>
<footer id="page-footer" th:replace="fragments/standard-fragment.html :: page-footer-fragment"></footer>

</body>
</html>