* {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgba(5, 7, 206, 0.47);
}

#page-top {
    width: 90%;
    margin: 0 auto;
}

#page-top-title-wrapper {
    display: block;
    background: #ececec;
    height: fit-content;
    width: 100%;

}

#page-top-title-wrapper > #page-top-signed-in-as {
    display: block;
    text-align: right;
    padding-right: 10px;
}

#page-top-title-wrapper > #page-top-title {
    display: block;
    font-size: 50px;
    margin: 0 0 10px 10px;
}

#page-body {
    width: calc(90% - 20px);
    background: #ececec;
    margin: 0 auto;
    padding: 10px;
}

.page-breaker-span {
    height: 4px;
    margin: 0 auto;
    background: #cecece;
    width: 100%;
}

.my-centered-container {
    margin: 0 auto;
    width: 80%;
}

.my-container {
    border: 1px solid #cecece;
    width: calc(50% - 46px);
    margin: 10px 20px;
    display: inline-block;
}

.my-container > .my-container-update {
    padding: 5px;
}

.my-container > .my-container-update-read-more {
    padding: 5px;
    font-size: 12px;
}

.my-container > .my-container-update-date {
    text-align: right;
    padding: 2px 10px 2px 0;
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
}

/*

<div class="my-container">
        <div class="my-container-update">

        </div>
        <div class="my-container-update-date">

        </div>
    </div>

*/