<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${page_title}">Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}"/>
</head>
<body>

<div id="page-top">
    <div id="page-top-title-wrapper">
        <div id="page-top-signed-in-as">
            signed in as
        </div>
        <div id="page-top-title" th:text="${page_title}">
            page title
        </div>
    </div>
    <div class="page-breaker-span"></div>
    <nav id="page-nav">
        <ul>
            <li><a th:href="@{/}"><span><b>Home</b></span></a></li>
            <li><a th:href="@{/about}"><span id="nav-span-is-selected"><b>About</b></span></a></li>
            <li><a th:href="@{/ponds}"><span><b>Ponds</b></span></a></li>
            <li><a th:href="@{/contact}"><span><b>Contact</b></span></a></li>
        </ul>
    </nav>
</div>
<div class="page-breaker-span" style="width: 90%;"></div>

<div id="page-body">
    <div>daw</div>
</div>

<footer id="page-footer">
    this is the footer
</footer>


</body>
</html>