<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Add images</h1>-->
<!--<form action="#" th:action="@{/newImages}" method="post" enctype="multipart/form-data">-->
    <!--<label>-->
        <!--Picture:-->
        <!--<input type="file" name="files" multiple>-->
    <!--</label>-->

    <!--<p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>-->
<!--</form>-->

<!--saweaw-->
<!--<ul th:each="IMAGE : ${image_list}">-->
    <!--<li>-->
        <!--<img th:src="@{''+${IMAGE.imagePath}}" alt="IMAGE" style="width: 30%;"/>-->
    <!--</li>-->

<!--</ul>-->
<!--</body>-->
<!--</html>-->


<!--public String uploadDirectory = System.getProperty("user.dir") + "/src/main/resources/static";-->


<!--@GetMapping("/")-->
<!--public String getIndex(Model model) {-->
<!--model.addAttribute("image_list", pondImageService.getAllPondImages());-->
<!--return "index";-->
<!--}-->


<!--@PostMapping("/newImages")-->
<!--public String createNewImage(@RequestParam("files") MultipartFile[] files, Model model) {-->
<!--// /img/image name-->
<!--if (files == null) {-->
<!--return "/";-->
<!--}-->

<!--if (files.length > 0) {-->

<!--for (MultipartFile file : files) {-->
<!--Path filenameandpath = Paths.get(uploadDirectory + "/img/", file.getOriginalFilename());-->
<!--PondImage pondImage = new PondImage("/img/" + file.getOriginalFilename());-->
<!--pondImageService.createPondImage(pondImage);-->
<!--try {-->
<!--Files.write(filenameandpath.toAbsolutePath(), file.getBytes());-->
<!--} catch (IOException e) {-->
<!--e.printStackTrace();-->
<!--}-->
<!--}-->
<!--}-->

<!--model.addAttribute("image_list", pondImageService.getAllPondImages());-->

<!--return "index";-->
<!--}-->